beautifulsoup4==4.12.3
langchain==0.3.26
langchain-community==0.3.18
langchain-core==0.3.70
langchain-ollama==0.2.2
langchain-openai==0.3.7
langchain-tavily==0.2.10
langchain-text-splitters==0.3.8
langcodes==3.5.0
langdetect==1.0.9
langgraph==0.6.1
langgraph-api==0.2.111
langgraph-checkpoint==2.1.1
langgraph-checkpoint-sqlite==2.0.5
langgraph-cli[inmem]
langgraph-prebuilt==0.6.1
langgraph-runtime-inmem==0.6.6
langgraph-sdk==0.2.0
langgraph-supervisor==0.0.26
langsmith